* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color:bisque
}

main {
    background-color:cadetblue;
    margin: 50px;
    padding: 30px;
}
 header {
     text-align: center;
     font-size: 50px;
 }